
* {
  padding: 0;
  list-style: none;
  outline: none;
  text-decoration: none;
}

.h-b-l-h span {
  font-size: 18px; /* Adjust the font size as needed */
}

.h-b-r-h {
  font-size: 18px;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

body .shell {
  width: 100%;
  position: sticky;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .shell-main-footer {
  width: 100%;
  position: relative;
  height: 200px;
  transform: translateY(100px);
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  align-items: center;
  text-align: center;
  font: 100 20px 'font';
  font-weight: 900;
  background-color: #cae5f8;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.body .shell-main-footer .info_links_menu {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.info_top {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; 
  flex-wrap: wrap;
  background-color: #39A7FF;

}
.info_form{
  float: left;
    min-width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}
.info_links{
  float: left;
    min-width: 50%;
    text-align: center;
    box-sizing: border-box;
}

.middle {
  margin:0;
  padding:20px;
  

  width: 100%;
  text-align: center;
}

.btn {
  display:inline-block;
  width:60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow:-5px 5px 15px -5px #f1f1f1; 
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s linear;
}



.btn:hover {
  transform: scale(1.1);
}

.btn:hover i {
  transform: scale(1.2);
  color: #fff;
}

.btn:before {
  content:"";
  position:absolute;
  width:120%;
  height:120%;
  transform: rotate(45deg);
  left: -110%;
  top:90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top:90%;
  }
  50% {
    left:10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }

  
}

.gradient-text {
 
  background-color: #CA4246;
  

   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  

  background-size: 100%;
  background-repeat: repeat;

  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
   
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}

.gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}


@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}


@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
  

body {
  background-color: #fdf1f0;
}

header {
  margin-top: 1em;

}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  font-size: 6em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 605px;
}

