.a{
    
    background-position: left top
}
.shell-top
{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(142, 228, 232), rgb(252, 252, 252));
    position: absolute;
    transition: .2s;
    overflow: hidden;
    
 
    font: 100 70px 'font';
    color: #ffffff50;
    letter-spacing: 10px;
  
  
}
 
body .shell-top .word 
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -50%);
    width: 700px;
    height: 220px;
    border: solid 10px rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
body .shell-top .word h2 
{
    font: 100 70px 'font';
    color: #055040;
    letter-spacing: 10px;
}

h2 span 
{ display:inline-block; animation:float .2s ease-in-out infinite; }
    @keyframes float {
     0%,100%{ transform:none; }
     33%{ transform:translateY(-1px) rotate(-2deg); }
     66%{ transform:translateY(1px) rotate(2deg); }
}
